* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: pink;
}

.App {
  text-align: left;
  color: aqua;
  background-color: black;
  opacity: .4;
  font-size: x-large;
}

.App h1 {
  color: pink;
  margin:0 5px 5px 15px;
}

.flashcard-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flashcard {
  position: relative;
  border-radius: .1rem;
  box-shadow: 0 0 5px 2px ;
  padding: 10px;
  margin: 5px;
  background-color: white;
}